<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE sqlMap
PUBLIC "-//iBATIS.com//DTD SQL Map 2.0//EN"
"http://www.ibatis.com/dtd/sql-map-2.dtd">
<sqlMap namespace="Menu">

	<typeAlias alias="Menu" type="com.ichrono.admin.model.Menu" />
	
	<sql id="tableName" >
		menu
	</sql>
	
	<sql id="selectColumns">
	select
	menu_id menuId ,
	name name ,
	url url ,
	parent_id parentId ,
	position position ,
	status status ,
	create_time createTime     FROM 
    <include refid="tableName"/> t
  	</sql>
	
	<insert id="create" parameterClass="Menu">
		INSERT INTO <include refid="tableName"/> (		menu_id,		name,		url,		parent_id,		position,		status,		create_time)
		VALUES(#menuId# ,#name# ,#url# ,#parentId# ,#position# ,#status# ,#createTime# )
		<selectKey resultClass="long" keyProperty="menu_id">
           SELECT last_insert_id() AS menuId
		</selectKey>
	</insert>
	
	<delete id="deleteById" parameterClass="Long">
		DELETE FROM <include refid="tableName"/> 
		WHERE menu_id = #menuId#
  	</delete>
	
	<select id="loadAll" resultClass="Menu">
		<include refid="selectColumns"/> 
	</select>
	
	<select id="findById" resultClass="Menu" parameterClass="Long">
		<include refid="selectColumns"/>   
		where menu_id = #menuId#
	</select>
	
	
	<sql id="pageConditions">
		WHERE 1=1
		<dynamic>
			<isNotEmpty property="menuId" prepend=" AND ">
				menu_id=#menuId#
		  	</isNotEmpty>
			<isNotEmpty property="name" prepend=" AND ">
				name=#name#
		  	</isNotEmpty>
			<isNotEmpty property="url" prepend=" AND ">
				url=#url#
		  	</isNotEmpty>
			<isNotEmpty property="parentId" prepend=" AND ">
				parent_id=#parentId#
		  	</isNotEmpty>
			<isNotEmpty property="position" prepend=" AND ">
				position=#position#
		  	</isNotEmpty>
			<isNotEmpty property="status" prepend=" AND ">
				status=#status#
		  	</isNotEmpty>
		</dynamic>
	</sql>
	
	
	<select id="findPage" resultClass="Menu" parameterClass="Menu" >
		<include refid="selectColumns"/> 
		<include refid="pageConditions"/>
		<isNotEmpty prepend="ORDER BY" property="orderStr" >
			$orderStr$
		</isNotEmpty>
		
	</select>
	<select id="findPage_COUNT" resultClass="int" parameterClass="com.ichrono.admin.model.Menu">
		select count(1) from <include refid="tableName"/> 
		<include refid="pageConditions"/>
	</select>
	
	
	<update id="update" parameterClass="Menu">
		UPDATE <include refid="tableName"/> 
		<dynamic prepend="set" >
		<isNotNull prepend="," property="name">
			name = #name#
      	</isNotNull>
		<isNotNull prepend="," property="url">
			url = #url#
      	</isNotNull>
		<isNotNull prepend="," property="parentId">
			parent_id = #parentId#
      	</isNotNull>
		<isNotNull prepend="," property="position">
			position = #position#
      	</isNotNull>
		<isNotNull prepend="," property="status">
			status = #status#
      	</isNotNull>
		<isNotNull prepend="," property="createTime">
			create_time = #createTime#
      	</isNotNull>
		</dynamic>
		WHERE menu_id = #menuId#
	</update>
	
	

</sqlMap>